A_EXEICO                ICON    DISCARDABLE     "../images/mifit6.ico"
MIFIT                   ICON    DISCARDABLE     "../images/mifit6.ico"
DOC                     ICON    DISCARDABLE     "../images/mifit6.ico"
CANVAS                  ICON    DISCARDABLE     "../images/mifit6.ico"


